/*Variables*/

$main-color: #ffd32a;
$color-regular: #fff;

$font-main: 'Catamaran', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-italic: 'PT Serif', serif;
$font-vibes: 'Great Vibes', cursive;

/*Global*/

body {
    margin: 0;
    line-height: 1.7; 
}
.container {
    max-width: 940px;
    padding: 0 20px;
    margin: 0px auto; 
}

/*Navigation*/ 

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.nav-wrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none; 
}
.nav-wrapper li {
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
}
.nav-wrapper a {
    text-decoration: none;
    font-size: 15px;
    color: $color-regular;
    
    font-family: $font-text;
}
.nav-wrapper h2 {
    margin: 0;
    font-size: 25px;
    color: $main-color;
    font-family: $font-vibes;
    letter-spacing: 2px;
}

/*Header*/

.header {
    height: 700px;
    background-color: #dfe4ea;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 205px 0 0 0;  
}
.header-wrapper h1 {
    font-size: 54px;
    margin: 0;
    padding: 0 0 60px 0;
    font-family: $font-main;
    font-weight: 900;
}
.header-wrapper p {
    font-size: 39px;
    margin: 0;
    font-family: $font-italic;
}
.btn {
    text-decoration: none;
    width: 245px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color; 
    color: $color-regular;
}
.header-wrapper a {
    font-family: $font-text;
}
